@model Item

<div class="mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Quantity"></label>
    <input asp-for="Quantity" class="form-control" />
</div>

