@model Item
@{
    ViewData["Title"] = "Edit";
}

<a asp-action="Register">List of item</a>
<form asp-action="Edit">
    <partial name="_Form"></partial>

    <button class="btn btn-primary">Register</button>
</form>
